/* this is my custom CSS */
* {
  margin: 0;
  padding: 0;
  outline: none !important;
  font-family: 'TheSansRegular';
}
@font-face {
  font-family: 'TheSansRegular';
  src: url('https://www.faethe.marketing/styles/TheSans-Plain.eot');
  src: url('https://www.faethe.marketing/styles/TheSans-Plain.eot?#iefix') format('embedded-opentype'), url('https://www.faethe.marketing/styles/TheSans-Plain.woff2') format('woff2'), url('https://www.faethe.marketing/styles/TheSans-Plain.woff') format('woff'), url('https://www.faethe.marketing/styles/TheSans-Plain.ttf') format('truetype'), url('https://www.faethe.marketing/styles/TheSans-Plain.otf') format('opentype'), url('https://www.faethe.marketing/styles/TheSans-Plain.svg#TheSans-Plain') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FC;
}
@font-face {
  font-family: 'TheSansBold';
  src: url('https://www.faethe.marketing/styles/TheSans-B7Bold.eot');
  src: url('https://www.faethe.marketing/styles/TheSans-B7Bold.eot?#iefix') format('embedded-opentype'), url('https://www.faethe.marketing/styles/TheSans-B7Bold.woff2') format('woff2'), url('https://www.faethe.marketing/styles/TheSans-B7Bold.woff') format('woff'), url('https://www.faethe.marketing/styles/TheSans-B7Bold.ttf') format('truetype'), url('https://www.faethe.marketing/styles/TheSans-B7Bold.otf') format('opentype'), url('https://www.faethe.marketing/styles/TheSans-B7Bold.svg#TheSans-B7Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}
@font-face {
  font-family: 'TheSansLight';
  src: url('https://www.faethe.marketing/styles/TheSans-B3Light.eot');
  src: url('https://www.faethe.marketing/styles/TheSans-B3Light.eot?#iefix') format('embedded-opentype'), url('https://www.faethe.marketing/styles/TheSans-B3Light.woff2') format('woff2'), url('https://www.faethe.marketing/styles/TheSans-B3Light.woff') format('woff'), url('https://www.faethe.marketing/styles/TheSans-B3Light.ttf') format('truetype'), url('https://www.faethe.marketing/styles/TheSans-B3Light.otf') format('opentype'), url('https://www.faethe.marketing/styles/TheSans-B3Light.svg#TheSans-B3Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: 'TheSansRegular';
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'TheSansBold';
}
.row {
  margin-left: 0;
  margin-right: 0;
}
body, html {
  line-height: 1;
  color: #222;
  background-color: #FFF;
  font-size: 15px;
}
body{
  overflow-x: hidden !important;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, center {
  display: block;
}
nav ul, ul {
  list-style-type: none;
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
button {
  vertical-align: middle;
}
.bg-danger {
  background: #B9001F !important;
}
.text-danger {
  color: #B9001F !important;
}
/***************************** Default CSS Ends Here *****************************/
.banner {
  background: #5b6770;
}
.banner img {
  object-fit: cover;
}
.banner h1 {
  font-size: 44px;
  font-weight: 300;
  font-family: 'TheSansRegular';
}
.banner p {
  font-size: 20px;
  line-height: 1.15;
}
.content p {
  font-size: 15px;
  line-height: 22px;
}
.content ul li {
  display: list-item;
  list-style-type: disc;
}
footer {
  background: #EEF0F0;
}
.banner2 {
  background: url("https://hertieschool-f4e6.kxcdn.com/fileadmin/1_Study/OpenDay/open_week_march_2022_frontpage_2.png") no-repeat center top;
  min-height: 500px;
  background-size: cover;
  border-bottom: 5px solid #CCC;
}
.box {
  margin-top: 200px;
}
.box span {
  top: -10px;
}
.box h1 {
  font-size: 44px;
  font-family: 'TheSansRegular';
}
.box p {
  font-size: 20px;
  line-height: 28px;
}
.post span {
  top: -15px;
}
.form-field label.fw-bold, footer strong {
  font-family: 'TheSansBold';
}
/***************************** Main Style CSS Ends Here *****************************/
@media (min-width: 768px) and (max-width: 991px) {
  .form-field {
    padding-left: 0 !important;
  }
  footer .col {
    width: 50% !important;
    flex: auto;
    margin-top: 20px !important;
  }

}
@media (max-width: 767px) {
  .form-field {
    padding-left: 0 !important;
  }
  /* footer .col {
    width: 50% !important;
    flex: auto;
    margin-top: 20px !important;
  } */
}
@media (max-width: 575px) {
  .form-field {
    padding-left: 0 !important;
  }
  .banner-text {
    padding: 20px !important;
  }
  .banner h1 {
    font-size: 30px;
  }
  .banner p {
    font-size: 16px;
  }  

  /* footer .col {
    width: 100% !important;
    flex: auto;
    margin-top: 20px !important;
  } */
}

/***************************** Form Style CSS Here *****************************/

/*Single Line Field Tweaks*/
.second{
  display: flex;
  flex-direction: column;
}
form.form input {
    width: 100%!important;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    padding: 0.5em 0.7em!important;
    border: 1px solid #d6d9db;
    outline: 0;
    border-radius: 0!important;
    font-size: 14px;
    background: 0 0;
    line-height: 1;
    height: 34px;
    max-width: 100%;
    color: #000;
    box-sizing: border-box;
}

/*Stylizes Dropdown Menus*/
select {
    width: 100%!important;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    display: block;
    padding: 0.5em 0.7em!important;
    border: 1px solid #d6d9db;
    outline: 0;
    border-radius: 0!important;
    font-size: 14px;
    background: 0 0;
    line-height: 1;
    height: 34px;
    max-width: 100%;
    color: #000;
    box-sizing: border-box;
}

/*Stylizes Labels*/
form.form p label {
    max-width: 100%;
    font-weight: 700;
    float: none!important;
    margin: 0 0 5px!important;
    padding: 0!important;
    text-align: left!important;
    width: 100%!important;
    color: #000;
}

/*Checkbox Styling*/
form.form input[type=checkbox], form.form input[type=radio] {
    width: auto!important;
    height: auto!important;
    display: inline!important;
    margin: 2px;
}

/*Checkbox Text Styling*/
form.form p label.inline {
    display: inline;
    font-weight: 400;
    line-height: 2em;
    vertical-align: baseline;
}

/*Button Styling*/
form.form p.submit input {
    border-radius: 0px;
    color: #FFF;
    font-weight: 600;
    font-size: 16px;
    padding: 13px 18px;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 10px;
    opacity: 1;
    line-height: 20px;
    display: inline-block;
    border-width: 0px !important;
    background: #B9001F;
    padding-left: 60px;
    padding-right: 60px;
    margin-left: 0px !important;
    margin-top: 20px;
}

form.form p.submit input:hover {
    background: #203D76;
}


  .content { 
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 130%;
      position: relative;
  }

  .layout {
      /* padding: 50px 50px 0px 50px; */
  }

  .header {
    padding: 50px 50px 0px 50px;
  }

  .content--banner {
    height: 100%;
    width: 100%;
  }

  .content--banner > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

  .content--banner > .grid-2 {
    position: absolute;
    display: flex !important;
    /* grid-template-columns: unset !important;
    column-gap: unset !important; */
    width: unset !important;
    top: 0;
  }

  .grid-2 {
    padding: 0px 50px;
  }

  .grid-2 > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-2 > .first {
    flex-direction: column;
    align-items: flex-start;
  }

  .grid-2 > .first > h1 {
    font-size: 32px;
    color: white;
    max-width: 50%;
    word-break: break-word;
  }

  .grid-2 > .first > p {
    color: white;
  }

  .grid-2 > .second {
    margin: 50px;
    padding: 50px;
    background: white;
    justify-content: flex-start;
  }

  .grid-2 > .second > form {
    width: 100%;
  }

  .grid-2 > .second > form > .input-group {
    margin: 5px;
  }

  .grid-2 > .second > form > .input-group > input {
    margin-top: 5px;
    width: 100%;
  }

  .grid-2 > .second > form > .input-group.checkbox {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    flex: 1 0 auto;
    width: 100%;
    color: black;
  }

  .bold-h1 {
    color: black !important;
    /* width: 100%; */
    font-size: 16px;
    max-width: unset !important;
    padding: unset !important;
    margin: unset !important;
  }

  hr {
    width: 100%;
    background: rgb(172, 11, 11);
  }


  .header > .logo {
    max-width: 250px;
    margin-bottom: 20px;
  }

  .header-image {
      max-width: 100%;
      max-height: 65%;
      height: 65%;
      width: 100%;
      object-fit: cover;
  }

  .inner-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 50px;
  }

  .inner-content > .overflowing-box {
      background: #373434;
      color: white;
      padding: 20px 50px;
      margin-top: -110px;

      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;

      text-align: center;
  }

  .header.label {
      background-color: rgb(172, 11, 11);
      padding: 5px 20px;
      color: white;
      margin-top: 10px;
  }

  .overflowing-box > h1 {
      font-size: 24px;
      margin-bottom: 10px !important;
  }

  .overflowing-box > p {
      max-width: calc(100% - 20%);
      text-align: center;
      font-size: 18px;
      font-family: TheSansLight;
  }

  .overflowing-box > button {
      padding: 12px 27px;
      background: gray;
      outline: none;
      border: unset !important;
      color: white;
      font-size: 16px;
  }

  .overflowing-box > button:hover {
      cursor: pointer;
      background-color: rgb(172, 11, 11);
  }

  .overflowing-box > * {
      margin-bottom: 20px;
  }

  .inner-content > .features > .feature-group{
    color: white;
  }

  .inner-content > .features > .feature-group > span.description {
    color: white;
  }
/* **********features********************** */
  .features {
      display: flex;
      justify-content: space-between;
      width: 100%;
      /* margin: 25px 0px; */
  }

  .feature-group span i{
    font-size: 30px;
  }

  .features > .feature-group {
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;
      color: black;
  }

  .features > .feature-group > * {
      margin-bottom: 5px;
  }

  .features > .feature-group > span.description {
      max-width: 150px;
      word-break: break-word;
      text-align: center;    
      font-weight: 100;
      font-family: TheSansLight;
      color: gray;
  }
  
  .grid-2 {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      width: 100%;
      column-gap: 50px;
  }

  .grid-2 > .first > p {
      font-family: TheSansLight;
  }

  .grid-2 > .first > ul {
      margin: auto;
      /* width: 90%; */
      /* margin-bottom: 40px !important; */
  }

  .grid-2 > .first > ul > li {
      margin-bottom: 20px;
  }

  .grid-2 > .first > * {
      margin-bottom: 20px;
  }

  iframe {
      width: 100%;
  }
/* ************************************************************** */

.footer {
  background: #eef0f0;
      display: flex;
      flex-direction: column;
      width: 100%;
  }
  .footer .logo {
    max-width: 200px;
    padding: 50px 50px 0px;
  }
  .footer-items {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 0 30px 50px;
}
.ul-items{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.ul-items.mini-Menu{
  font-weight: bold;
}
.ul-items .li-item{
  list-style: none;
}
.ul-items .li-item:not(:last-child):after{
  content: '|';
  display: inline-block;
  padding: 0 0.5em
}
.ul-items .li-item{
  font-size: 12px;
}
.ul-items .li-item a{
  text-decoration: none;
  color: #5b6770;
  cursor: pointer;
  font-size: 12px;
}

/* ******************************************************** */
  .testimonials {
      background-color: #373434;
      color: white;
      width: 100vw;
      display: flex;
      justify-content: center;
      min-height: 250px;
  }

  .testimonials > .testimonials-wrapper {
      width: calc(100% - 20%);
      max-width: calc(100% - 20%);
      padding: 0px 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
  }

  .testimonials > .testimonials-wrapper > .testimonial {
      display: none;
  }

  .testimonials > .testimonials-wrapper > .testimonial  img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
  }
  .testimonials > .testimonials-wrapper > .testimonial > .content {
      flex-basis: 70%;
  }

  .testimonials > .testimonials-wrapper > .testimonial > .content > p {
      font-style: italic;
      margin-bottom: 20px;
      font-family: TheSansLight;
  }

  .testimonials > .testimonials-wrapper > .testimonial > .content > span {
      align-self: flex-start;
      font-family: TheSansLight;
  }

  .control-group {
      position: absolute;
      top: 60%;
      right: 10%;
      display: flex;
  }

  .prev::before, .next::before {
      border: 1px solid lightgray;
      border-radius: 50%;
      content: '<';
      display: flex;
      justify-content: center;
      padding: 6px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: transparent;
  }
  .next::before {
      content: '>' !important;
  }

  .prev, .next {
      cursor: pointer;
      top: 10%;
      width: auto;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      user-select: none;
      margin: 5px;
  }

  .next {
      right: 0;
  }

  .prev:hover, .next:hover {
      border-radius: 50%;
      background-color: rgba(0,0,0,0.8);
  }

  .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    

  @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    @media  (max-width: 1000px){
      
    }

  @media (min-width: 320px) and (max-width: 700px) {
      .grid-2 > .second {
          grid-column: 1/2;
      }

      .features { 
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          flex-direction: column;
      }
      .features .feature-group{
        margin-top: 20px;
        width: 100px;
      }
      .features.Hertie_School{
        flex-direction: row;
      }
      .testimonials {
          min-height: 600px;
      }

      .testimonial > img {
          width: 70px !important;
          height: 70px !important;
      }
      .control-group {
          top: 70%;
      }
      .content ul li {
        display: list-item;
        list-style-type: disc;
        font-size: 13px;
    }
    .grid-2 .p-hertie-school {
      font-size: 13px;
      line-height: 15px;
  }
  }

  @media(min-width: 600px){
    .features { 
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
  }
  .features .feature-group{
    margin-top: 20px;
    width: 85px;
    max-width: 85px;
  }
  }
  /* form for small screen */
  @media (min-width: 220px) and (max-width: 1251px){
    .second{
      display: none;
    }

    .second.small_secreen{
      display: block;
      margin: 50px;
      padding: 50px;
      background: white;
      justify-content: flex-start;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .second.small_secreen h1{
      font-size: 13px;
      font-weight: bolder;
      margin-bottom: 10px;
      text-align: center;
    }
    .input-group{
      margin-top: 10px;
    }
    .second.small_secreen input{
      width: 100%!important;
      box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      padding: 0.5em 0.7em!important;
      border: 1px solid #d6d9db;
      outline: 0;
      border-radius: 0!important;
      font-size: 14px;
      background: 0 0;
      line-height: 1;
      height: 34px;
      max-width: 100%;
      color: #000;
      box-sizing: border-box;
      margin-top: 10px;
    }
    .grid-2 > .first > h1 {
      max-width: 100%;
      word-break: break-word;
    }
  }

  @media (min-width: 1250px){
    .grid-2.section1{
      column-gap: 285px;
    }
    .second.small_secreen{
      display: none;
    }
  }